/* Alunos: Eduardo Lopes de Cerqueira e João Bruno Reis Carvalho Dos Santos */
/* Matrículas: 200027356 e 200026858 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #C9D6DF;
    font-family: 'Montserrat', sans-serif;

}

/* CABEÇALHO */
.header {
    background-image: url(../img/BG_header.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-content: center;
}

.header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 2px solid #C9D6DF;
    align-items: center;
    width: 80%;
}

.header .div {
    display: flex;
    justify-content: center;
}

.header nav ul {
    display: flex;
    margin-top: 0.3%;
    align-items: center;
}

.header nav ul li {
    list-style: none;
    margin-left: 5vh;
}

.header nav ul li:hover {
   color: black;
   cursor: pointer;
}

.header .carro1 {
    text-align: center;
    margin-top: 2%;
}

.header .elipse {
    display: block;
    text-align: center;
    margin-top: 35%;
    padding-bottom: 1%;
}

/* PRINCIPAL */
main {
    background-color: #52616B;
    justify-content: center;
    display: flex;
}

main .container {
    margin-top: 150px;
    margin-bottom: 100px;
}

.banner_down {
    display: flex;
    justify-content: space-around;
}

main .container .banner_1{
    background-image: url(../img/the\ 8\ 1.jpg);
    width: 1195px;
    height: 500px;
    margin-bottom: 10px;
}
main .container .banner_2 {
    background-image: url(../img/the\ x7\ 2.jpg);
    width: 590px;
    height: 341px;
}

main .container .banner_3 {
    background-image: url(../img/the\ 5\ 1.jpg);
    width: 590px;
    height: 340.69px;
    text-align: center;
}

main .container .banner_text_1 {
    position: absolute;
    margin-top: 20px;
    margin-left: 80px;
    font-size: 25px;
}

main .container .banner_text_2 {
    margin-top: 20px;
    margin-left: 30px;
}

main .container .banner_text_3 {
    margin-top: 15px;
}

/* SEÇÃO */
.section {
    background-image: url(../img/bmw-my-bmw-app-lp-cp-xxl\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 629px;
}

.section .section_logo {
    display: flex;
    padding: 25px;
}

.section_logo_text {
    margin-left: 15px;
    margin-top: 15px;
}


/* RODAPÉ */
.footer {
    background-color: #1E2022;
    width: 100%;
    height: 378px;
}

.footer ul {
    list-style: none;
}

.footer .footer_contanier .text_footer li {
    margin-top: 15px;
}

.footer .footer_contanier {
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
}

.footer .footer_contanier .nav_footer .menu-rodapé {
    display: flex;
    
}

.footer .footer_contanier .nav_footer .menu-rodapé li {
    margin-top: 10px;
    margin-right: 15px;
}